@page "/counter" 
@using cycleFitMAUI.Shared.Components

<h1>Counter</h1>
<ErrorBoundary>
    <ChildContent>
           <CounterBtn Count=currentCount />
    </ChildContent>
    <ErrorContent>
        <p>Ahhhhh that's bad</p>
    </ErrorContent>

</ErrorBoundary>

@code {
    public int currentCount = 0;   
}

