@page "/workoutcreator"

@using cycleFitMAUI.Data
@using cycleFitMAUI.Shared.Components
@using WorkoutStep = cycleFitMAUI.Shared.Components.WorkoutStep
@inject WorkoutService cycleWorkoutService

<div class="flex flex-row justify-center w-full gap-24 mb-8">
    <button type="button" class="rounded-lg text-xl font-semibold px-6 py-3 bg-purple-500 text-white">
        <i class="fa-solid fa-file-arrow-down"></i>
        Download
    </button>
    <button type="button" class="rounded-lg text-xl font-semibold px-6 py-3ddwwwdwdws bg-purple-500 text-white">
        <i class="fa-solid fa-floppy-disk"></i>
        Save
    </button>
</div>

<div class="flex flex-row justify-center w-full gap-24 mb-16">
    <button @onclick="() => AddStep(WorkoutStep.ZoneTypes.Zone2, WorkoutStep.StepTypes.Warmup, 10)" type="button" class="rounded-full text-2xl font-semibold p-6 bg-red-500 text-white">Add Warmup</button>
    <button @onclick="() => AddStep(WorkoutStep.ZoneTypes.Zone4, WorkoutStep.StepTypes.Main, 20)" type="button" class="rounded-full text-2xl font-semibold p-6 bg-yellow-500 text-white">Add Workout Step</button>
    <button @onclick="() => AddStep(WorkoutStep.ZoneTypes.Zone1, WorkoutStep.StepTypes.Cooldown, 20)" type="button" class="rounded-full text-2xl font-semibold p-6 bg-blue-500 text-white">Add Cooldown</button>
</div>

<main id="currentWorkout" class="flex flex-row flex-wrap gap-10 w-full justify-start px-14">
    @foreach (var step in steps)
    {
        @ChildFrag(step)
    }
</main>

@code {
    // TODO: Add a way to add steps to the workout and allow for editing of the steps
    List<WorkoutStep.Step> steps = new();

    private void AddStep(WorkoutStep.ZoneTypes zone, WorkoutStep.StepTypes stepType, int duration)
    {
        steps.Add(new WorkoutStep.Step { Zone = zone, StepType = stepType, Duration = duration });
    }

    RenderFragment<WorkoutStep.Step> ChildFrag = (current) => @<WorkoutStep Zone="@current.Zone" Duration="@current.Duration" StepType="@current.StepType"/>;

}