@page "/workoutcreator"

@using cycleFitMAUI.Data
@inject WorkoutService cycleWorkoutService

<h1>Create your cycling workout</h1>
<p>@greeting</p>

<div class="flex flex-row justify-between w-full">
    <button class="rounded-full bg-red-500">Add Warmup</button>
    <button class="rounded-full bg-yellow-500">Add Workout Step</button>
    <button class="rounded-full bg-blue-500">Add Cooldown</button>
</div>

<button class="" @onclick="CreateTheWorkout">Click me to have a workout made!</button>

@code {
    string greeting = "Hey ;)";

    protected void CreateTheWorkout()
    {
        cycleWorkoutService.Main();
    }
}
