@page "/workoutcreator"

@using cycleFitMAUI.Data
@inject WorkoutService cycleWorkoutService

<h1>Create your cycling workout</h1>
<p>@greeting</p>

<button class="btn btn-primary" @onclick="createTheWorkout">Click me to have a workout made!</button>

@code {
    string greeting = "Hey ;)";

    protected void createTheWorkout()
    {
        cycleWorkoutService.Main();
    }
}
