@page "/workouts"

@using cycleFitMAUI.Data
@using System.Text.Json

<h1>Pre-made Workouts!</h1>
<p>Here are some workouts I made that I think you may like :)</p>

<button class="" @onclick="CreateTheWorkout">Click me to have a workout made!</button>

@code {
#nullable enable

    private static void CreateTheWorkout()
    {
        (int, HeartRateZones) hrInfo = WorkoutService.RetrieveUserHrZones();

        if (hrInfo.Item1 == 400) return;
        
        SampleWorkouts.FourEightMinute(hrInfo.Item2);
    }
}