@page "/workoutcreator"

@using cycleFitMAUI.Data
@inject WorkoutService cycleWorkoutService

<h1>Create your cycling workout</h1>
<p>@greeting</p>

<button class="" @onclick="CreateTheWorkout">Click me to have a workout made!</button>

@code {
    string greeting = "Hey ;)";

    protected void CreateTheWorkout()
    {
        cycleWorkoutService.Main();
    }
}
