@using cycleFitMAUI.Data

<form class="border border-black p-4 mb-4 flex flex-col w-fit" @onsubmit="CalculateHRZones">
    <div class="flex flex-row items-center gap-4">
    <label class="font-semibold text-xl" for="maxHeartRate">
        Max Heart Rate:
    </label>
    <input id="maxHeartRate" @bind-value="MaxHR" class="border border-gray-500 p-2 text-xl" name="maxHeartRate" type="number" />
</div>


    <label class="font-semibold text-xl" for="age">
        Age <span class="font-light">(not required if you know your max heart rate)</span>:
        <input id="age" @bind-value="Age" class="border border-gray-500 p-2 text-xl" name="age" type="number" />
    </label>


    <button class="text-xl w-fit self-center border rounded-md bg-blue-500 text-white p-2 hover:bg-blue-700" type="submit">Calculate</button>
</form>

@code {
    [Parameter]
    public int MaxHR { get; set; }

    [Parameter]
    public int Age { get; set; }

    async public void CalculateHRZones()
    {
        if (Age == 0 && MaxHR == 0)
        {
            throw new InvalidDataException("No data present");
        }


        if (Age != 0 && MaxHR == 0)
        {
            MaxHR = 220 - Age;
        }

        HeartRateZones userZones = new HeartRateZones
        {
            Zone1 = new Zone
            {
                Low = MaxHR * .5,
                High = MaxHR * .6
            },
            Zone2 = new Zone
            {
                Low = MaxHR * .6,
                High = MaxHR * .7
            },
            Zone3 = new Zone
            {
                Low = MaxHR * .7,
                High = MaxHR * .8
            },
            Zone4 = new Zone
            {
                Low = MaxHR * .8,
                High = MaxHR * .9
            },
            Zone5 = new Zone
            {
                Low = MaxHR * .9,
                High = MaxHR
            },
        };

        await jsRuntime.InvokeVoidAsync("domHelper.addHeartRateData", userZones);
    }


    [Inject]
    private IJSRuntime jsRuntime { get; set; }
    }

