@inherits LayoutComponentBase

<div class="grid grid-cols-6 w-screen">
    <div class="col-span-1 h-screen w-full bg-gradient-to-br from-orange-500 via-black to-blue-500">
        <NavMenu />
    </div>

    <main class="col-span-5 flex flex-col w-full">
        <div class="h-fit w-full flex justify-end">
            <a class="text-right text-blue-600 pr-4" href="https://github.com/mitchelldirt/cycleFitMAUI" target="_blank">About</a>
        </div>
            <article class="px-4 w-full">
                @Body
            </article>
	    </main>
</div>

