<div class="ps-3 bg-blue-800">
    <div class="mx-auto">
        <a class="text-white" href="">cycleFitMAUI</a>
        <button title="Navigation menu" class="" @onclick="ToggleNavMenu">
            <span class=""></span>
        </button>
    </div>
</div>

<div @onclick="ToggleNavMenu">
    <nav class="py-3">
        <div class="px-3">
            <NavLink class="text-white w-fit h-fit inline-block py-2" href="" Match="NavLinkMatch.All">
                <span class="mr-2" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="px-3">
            <NavLink class="text-white hover:text-blue-300 py-2 inline-block" href="workoutcreator">
                <span class="mr-2" aria-hidden="true"></span> Workout Creator
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "hidden" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
