<div class="ps-3 h-12 flex flex-row justify-center items-center">
    <div class="mx-auto flex flex-row gap-2 justify-center items-center">
        <a class="text-white font-bold text-2xl" href="">cycleFit Workouts</a>
        <i class="fa-solid fa-bolt-lightning text-white"></i>
    </div>
</div>

<div @onclick="ToggleNavMenu">
    <nav class="py-3">
        <div class="px-3 hover:bg-orange-700">
            <NavLink class="text-white hover:text-blue-300 inline-block py-2 w-full" href="" Match="NavLinkMatch.All">
                <i class="fa-solid fa-house w-5 h-5"></i> Home
            </NavLink>
        </div>
        <div class="px-3 hover:bg-orange-700">
            <NavLink class="text-white hover:text-blue-300 py-2 inline-block w-full" href="workoutcreator">
                <i class="fa-solid fa-bicycle w-5 h-5"></i> Workout Creator
            </NavLink>
        </div>
        <div class="px-3 hover:bg-orange-700">
            <NavLink class="text-white hover:text-blue-300 py-2 inline-block w-full" href="workouts">
               <i class="fa-solid fa-puzzle-piece w-5 h-5"></i> Pre-made Workouts
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "hidden" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

}